<div class="container">
  <div class="row ">
      <div class="col-md-12 col-lg-12">
          <mat-accordion multi>
            <!-- [expanded]="true"  -->
              <mat-expansion-panel *ngFor = "let user of voters_to_be_approved">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{user.VoterName}}
                  </mat-panel-title>
                  <mat-panel-description *ngIf="user.isApproved == null || user.isAdmin == 0" style="color: #ed6a5a;">
                    <strong>Awaiting Approval</strong>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p><strong>Name</strong>: {{user.VoterName}}</p>
                <p><strong>Voter ID</strong>: {{user.VoterID}}</p>
                <p><strong>Email</strong>: {{user.Email}} </p>
                <button mat-raised-button class="btn btn-md fw-bold mb-2" type="submit" (click)="approveVoter(user)">Approve</button>
              </mat-expansion-panel>

            </mat-accordion>
      </div>
  </div>
</div>