<div class="container">
    <div class="row ">
        <div class="col-md-12 col-lg-12">

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                    <!-- Name Column -->
                    <ng-container matColumnDef="candidateName">
                        <th mat-header-cell *matHeaderCellDef>
                            Candidate Name
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.candidateName}} </td>
                    </ng-container>

                    <!-- Party Column -->
                    <ng-container matColumnDef="candidateParty">
                        <th mat-header-cell *matHeaderCellDef>
                            Candidate Party
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.candidateParty}} </td>
                    </ng-container>

                    <!-- Note Column -->
                    <ng-container matColumnDef="candidateNote">
                        <th mat-header-cell *matHeaderCellDef>
                            Candidate Note
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.candidateNote}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectCandidate(row)"></tr>
                </table>
            </div>

        </div>
        <div class="row" style="padding-top: 5%;">
            <div class="col-md-12 col-lg-12">
                <div *ngFor="let sc of selectedCandidate">
                    <p>You have selected <span style="font-weight: bold;">{{sc.candidateName}}</span>, from <span style="font-weight: bold;">{{sc.candidateParty}}</span>
                         with a motto <span style="font-style: italic;">"{{sc.candidateNote}}"</span>. Do you want to cast your vote for this candidate?</p>
                    <div class="list-inline text-center">
                        <button mat-raised-button class="btn btn-md fw-bold mb-2 list-inline-item yes-vote" type="submit" (click)="castVote()">Yes, Vote!</button>
                        <button mat-raised-button class="btn btn-md fw-bold mb-2 list-inline-item no-vote" type="submit" (click)="reset()">No!</button>
                    </div>
                </div>
                <div *ngIf="!selectedCandidate.size">
                    Select a candidate to vote by clicking on the candidate in the table!
                </div>
            </div>
        </div>
    </div>
</div>