<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="container">
<!--         <p class="display-6" *ngIf="setup">Active Campaign<span style="padding-left: 55%; margin-bottom: 35%">
            <button mat-raised-button class="btn btn-md fw-bold mb-2" type="submit" [disabled]="hasCampaignstarted" (click)="setupCampaign()">
              Setup campaign
            </button>
          </span>
        </p> -->
        <p class="display-6" *ngIf="setup">Setup Campaign</p>
      </div>

      <mat-accordion multi *ngIf="setup" style="padding-top: 10px">

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Active Campaign </mat-panel-title>
            <mat-panel-description style="color: #d9ff00" *ngIf="hasCampaignstarted">
              <strong>Active</strong>
            </mat-panel-description>
            <mat-panel-description style="color: #ff0000" *ngIf="!hasCampaignstarted">
              <strong>In-Active</strong>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><strong>No of Candidates</strong>: {{numOfCandidates}}</p>
          <p><strong>Candidates</strong>: {{candidateNames}}</p>
          <div class="list-inline">
            <button type="button" (click)="setupCampaign()" [disabled]="!startEnable" class="btn btn-md fw-bold mb-2 list-inline-item">
              Start
            </button>
            <button type="button" (click)="stopCampaign()" [disabled]="(!hasCampaignstarted && votingStopped) || resetForm" class="btn btn-md fw-bold mb-2 list-inline-item">
              Stop
            </button>
            <button type="button" (click)="getResults()" [disabled]="!getResult" class="btn btn-md fw-bold mb-2 list-inline-item">
              Get Results
            </button>
            <button type="button" (click)="reset()" [disabled]="!resetEnable" class="btn btn-md fw-bold mb-2 list-inline-item" style="float: right;">
              Reset
            </button>
          </div>
        </mat-expansion-panel>

      </mat-accordion>

      <form [formGroup]="setupform" (ngSubmit)="startCampaign()" *ngIf="setupcampaign">
        <!-- <div class="col-lg-6 col-md-6"> -->
          <!-- <mat-form-field appearance="outline" class="col-md-12 col-lg-12">
            <mat-label>Campaign Name</mat-label>
            <input matInput type="text" id="campName" placeholder="E.g. State Campaign" formControlName="campName" />
            <mat-error class="error-message" *ngIf="setupform.get('campName')?.invalid">
              This field is required!
            </mat-error>
          </mat-form-field> -->
        <!-- </div> -->
        <div class="col-lg-6 col-md-6">
          Add Candidates
        </div>
        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="col-md-12 col-lg-12">
            <mat-label>Candidate Name</mat-label>
            <input matInput type="text" id="candidateName" placeholder="E.g. State Campaign"
              formControlName="candidateName" />
            <mat-error class="error-message" *ngIf="setupform.get('candidateName')?.invalid">
              This field is required!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="col-md-12 col-lg-12">
            <mat-label>Candidate Party</mat-label>
            <input matInput type="text" id="candidateParty" placeholder="E.g. State Campaign"
              formControlName="candidateParty" />
            <mat-error class="error-message" *ngIf="setupform.get('candidateParty')?.invalid">
              This field is required!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="col-md-12 col-lg-12">
            <mat-label>Candidate Text</mat-label>
            <input matInput type="text" id="candidateText" placeholder="E.g. State Campaign"
              formControlName="candidateText" />
            <mat-error class="error-message" *ngIf="setupform.get('candidateText')?.invalid">
              This field is required!
            </mat-error>
          </mat-form-field>
        </div>

        <div class="d-grid col-lg-4 col-md-4">
          <button mat-raised-button class="btn btn-sm fw-bold mb-2" type="button" (click)="addCandidates()"
            [disabled]="setupform.get('candidateText')?.invalid || setupform.get('candidateParty')?.invalid || setupform.get('candidateName')?.invalid">
            Add candidate
          </button>
        </div>

        <!-- table for added candidates -->
        <div class="col-md-12 col-lg-12" *ngIf="showtable">
          <table mat-table [dataSource]="candidates" *ngIf="showtable">

            <!-- Name Column -->
            <ng-container matColumnDef="candidateName">
              <th mat-header-cell *matHeaderCellDef>
                Candidate Name
              </th>
              <td mat-cell *matCellDef="let element"> {{element.candidateName}} </td>
            </ng-container>

            <!-- Party Column -->
            <ng-container matColumnDef="candidateParty">
              <th mat-header-cell *matHeaderCellDef>
                Candidate Party
              </th>
              <td mat-cell *matCellDef="let element"> {{element.candidateParty}} </td>
            </ng-container>

            <!-- Note Column -->
            <ng-container matColumnDef="candidateText">
              <th mat-header-cell *matHeaderCellDef>
                Candidate Text
              </th>
              <td mat-cell *matCellDef="let element"> {{element.candidateText}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

        <div class="list-inline padding-end">
          <button mat-raised-button class="btn col-lg-4 col-md-4 btn-lg btn-login fw-bold mb-2 list-inline-item" [disabled]="!tostartcampaign" type="submit">
            Start Campaign
          </button>
        </div>
      </form>
    </div>
  </div>
</div>