button:hover {
    color: black;
    background-color: white;
    border-color: #068d9d;
    border: 1px solid;
}

button {
    color: white;
    background-color: #068d9d;
    margin-top: 10px;
}

.button-secondary {
    color: black;
    background-color: white;
    border-color: #068d9d;
    border: 2px solid;
}

.button-secondary:hover{
    background-color: white;
    color: #ed6a5a;
    border: 3px solid #ed6a5a;
}

.padding-end{
    padding-bottom: 20%;
}

mat-form-field{
    padding-top: 10px;
}
