button:hover {
    color: black;
    background-color: white;
    border-color: #068d9d;
    border: 1px solid;
}

button {
    color: white;
    background-color: #068d9d;
    margin-top: 10px;
}

.padding-end{
    padding-bottom: 20%;
}

mat-form-field{
    padding-top: 10px;
}
