<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="container">
        <p class="display-6" *ngIf="setup">List of Campaigns Active <span style="padding-left: 55%; margin-bottom: 35%">
            <button mat-raised-button class="btn btn-md fw-bold mb-2" type="submit" (click)="setupCampaign()">
              Setup campaign
            </button>
          </span>
        </p>
        <p class="display-6" *ngIf="!setup">Setup Campaign</p>
        
      </div>

      <mat-accordion multi *ngIf="setup" style="padding-top: 10px">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Campaign 1 </mat-panel-title>
            <mat-panel-description style="color: #ed6a5a">
              <strong>Inactive</strong>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><strong>No of Candidates</strong>: 2</p>
          <div class="list-inline">
            <button type="button" (click)="startCampaign()" class="btn btn-md fw-bold mb-2 list-inline-item">
              Start
            </button>
            <button type="button" (click)="getResults()" class="btn btn-md fw-bold mb-2 list-inline-item">
              Get Results
            </button>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Campaign 2 </mat-panel-title>
            <mat-panel-description style="color: #a5b452">
              <strong>Active</strong>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><strong>No of Candidates</strong>: 4</p>
          <div class="list-inline">
            <button type="button" (click)="stopCampaign()" class="btn btn-md fw-bold mb-2 list-inline-item">
              Stop
            </button>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <form [formGroup]="setupform" (ngSubmit)="startCampaign()" *ngIf="!setup">
        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="col-md-12 col-lg-12">
            <mat-label>Campaign Name</mat-label>
            <input matInput type="text" id="campName" placeholder="E.g. State Campaign" formControlName="campName" />
            <mat-error class="error-message" *ngIf="setupform.get('campName')?.invalid">
              This field is required!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6">
          <mat-form-field appearance="outline" class="col-md-12 col-lg-12">
            <mat-label>Candidates</mat-label>
            <mat-select  id="candidates" placeholder="Select" formControlName="candidates" multiple>
              <mat-option *ngFor="let candidate of candidates" [value]="candidate">{{candidate}}</mat-option>
            </mat-select>
            <mat-error class="error-message" *ngIf="setupform.get('candidates')?.invalid">
              This field is required!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="d-grid col-lg-6 col-md-6">
          <button mat-raised-button class="btn btn-lg btn-login fw-bold mb-2" type="submit"
              [disabled]="setupform.invalid">Start Campaign</button>
        </div>
      </form>
    </div>
  </div>
</div>