<header>
  <nav>
    <ul>
      <li><a routerLink="/login-register">
        <span><img width="60" alt="e-voting" src="../../../assets/vote.png"/></span> Decentralised Voting Sytem
      </a></li>
      <li *ngIf="user">
        <a routerLink="/vote">Vote</a>
      </li>
      <li *ngIf="admin">
        <a routerLink="/admin-approve">Approve Users</a>
      </li>
      <li *ngIf="admin">
        <a routerLink="/admin-set-campaign">Setup Campaign</a>
      </li>
      <!-- <li *ngIf="admin">
        <a routerLink="/admin-get-results">Get Results</a>
      </li> -->
    </ul>
  </nav>
</header>