<app-header></app-header>

<!-- <div class="container d-flex justify-content-center">
    <router-outlet></router-outlet>
</div> -->

<div class="container-fluid ps-md-0">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-5 col-lg-4"></div>
        <div class="col-md-8 col-lg-8">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row ">
                        <div class="col-md-5 col-lg-5">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>